body {
    font-family: 'Segoe UI', Arial, sans-serif;
    background: #f4f9ff;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.painel {
    background: white;
    padding: 20px;
    width: 450px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

.info {
    text-align: left;
    background: #ecf0f1;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    border-left: 5px solid #3498db;
}

.pista {
    height: 120px;
    background: #ececec; 
    border-bottom: 5px solid #000000; 
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 5px;
}

#aviao {
    width: 80px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    transition: all 2s cubic-bezier(0.4, 0, 0.2, 1); /* Movimento suave */
    filter: drop-shadow(2px 5px 5px rgba(0,0,0,0.3));
}

button {
    padding: 10px 18px;
    margin: 5px;
    cursor: pointer;
    background: #34495e;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    
}

button:hover { background: #2c3e50;}
.btn-jato { background: #e74c3c; }
.btn-carga { background: #27ae60; }